<%= form_with(model: movement, class: '', data: { controller: "nested-form" }) do |form| %>
  <div class="w-full flex flex-col items-start justify-start text-black text-center font-semibold py-2 px-0 relative z-0 group gap-8">
    <div class="w-full flex justify-between items-center gap-8">
    
      <div class="flex flex-col justify-center items-start gap-4">
        <%= form.label t('.code'), class: 'text-lg text-gray-800'%>
        <%= form.text_field :code,
                            required: true,
                            class: 'w-full mx-auto block py-2 px-2 w-full text-lg text-left text-slate-700 bg-transparent border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer' %>
      </div>
      <div class="flex flex-col justify-center items-start gap-4 relative" >
        <%= form.label t('.date'), class: 'text-lg text-gray-800'%>
        <%= form.text_field :date,
                            data: {
                              controller: "flatpickr",
                              flatpickr_target: "calendar" 
                            },
                            autocomplete: "off",
                            required: true,
                            class: 'w-full mx-auto block py-2 px-2 w-full text-lg text-left text-slate-700 bg-transparent border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer' %>
        <div class="absolute bottom-[15%] right-2">
          <%= inline_svg_tag('icons/calendar.svg', class: 'w-6 h-6 stroke-gray-600')%>
        </div>
      </div>
    </div>
    <div data-controller="dynamic-select"
         data-dynamic-select-url-value="<%= fetch_form_rates_path %>"
         data-dynamic-select-selected-value="<%= movement.rate_id %>"
         data-dynamic-select-kind-value="<%= params[:kind] %>"
         class="w-full flex justify-center items-start gap-4">
      <div class="flex-1 w-full flex flex-col justify-between items-center gap-8">
        <%= form.label t('.zone'), class: 'text-lg text-gray-800' %>
        <%= form.select :zone_id,
                          Zone.excluding(Zone.where(name: 'Product')).pluck(:name, :id),
                         { include_blank: true },
                         { 
                          "data-action": "change->dynamic-select#change",
                          "data-dynamic-select-target": "zoneSelect",
                          class: 'w-full mx-auto block py-2 px-2 w-full text-lg text-left text-slate-700 bg-transparent border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer'
                         } %>
      </div>
      <div class="flex-1 w-full flex flex-col justify-between items-center gap-8">
        <%= form.label t('.customer'), class: 'text-lg text-gray-800' %>
        <%= form.select :rate_id,
        [],
        { include_blank: true },
        {
          "data-dynamic-select-target": "rateSelect",
          class: 'w-full mx-auto block py-2 px-2 w-full text-lg text-left text-slate-700 bg-transparent border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer'
        } %>
      </div>
    </div>
    <% if 1 == 0 %>
      <div class="w-full flex justify-center items-start gap-4">
        <div class="flex-1 w-full flex flex-col justify-between items-center gap-8">
          <%= form.label t('.customer'), class: 'text-lg text-gray-800' %>
          <%= form.select :customer_id, options_for_select(Customer.all.map { |c| ["#{c.name}", c.id] }, selected: movement.customer), {}, class: 'w-full mx-auto block py-2 px-2 w-full text-lg text-left text-slate-700 bg-transparent border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer' %>
        </div>

        
        <div class="flex-1 w-full flex flex-col justify-between items-center gap-8" data-tomselect-target="mainselect">
          <%= form.label t('.zone'), class: 'text-lg text-gray-800'%>

          <%#= form.select :zone_id, options_for_select(Zone.all.pluck(:name, :id)), {}, class: 'w-full mx-auto block py-2 px-2 w-full text-lg text-left text-slate-700 bg-transparent border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer' %>
          <%= form.select :zone_id, options_for_select(Zone.all.pluck(:name, :id)), {}, class: 'w-full mx-auto block py-2 px-2 w-full text-lg text-left text-slate-700 bg-transparent border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer', data: { tomselect_target: 'zone', action: "change->tomselect#loadVariants"} %>


        </div>
      </div>
    <% end %>
    


    

      <div class="w-full flex flex-col items-end gap-8">
        <template data-nested-form-target="template">
          <%= form.fields_for :product_movements,
              movement.product_movements.new,
              child_index: 'TEMPLATE_RECORD' do |product_movement|%>

            <%= render 'product_movement_fields',
                form: product_movement if product_movement.present? %>
          <% end %>
        </template>

        <%= form.fields_for :product_movements do |product_movement| %> 
          <%= render 'product_movement_fields',
              form: product_movement if product_movement.present? %>
        <% end %>

        <div data-nested-form-target="add_item"></div>
      </div>
    

    <% if movement.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 border-b-8 border-b-red-600 px-3 py-2 font-medium rounded-lg mt-3">
        <h2><%= pluralize(movement.errors.count, 'error') %> prohibited this movement from being saved:</h2>
        <ul>
          <% movement.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <div class="inline">
    <%= form.submit t('.create'), class: 'button-success cursor-pointer' %>
    <%#= link_to t('.back'), '', data: { action: 'modal#hideModal'}, class: 'button-default' %>
    <%= link_to "#{t '.add_item'}", "#",class: 'button-success float-right', data: { action: "nested-form#add_association" } %>
  </div>
<% end %>
