<div id="<%= dom_id movement %>" class="table-row-li <%= 'hidden' unless movement.id %>">
  <%= turbo_frame_tag dom_id(movement), class: 'w-full flex justify-between' do %>
    <div class="w-1/12 flex justify-center items-center content-center px-4">
      <%= render CheckboxComponent.new(id: movement.id, name: 'movement_ids[]', options: { value: movement.id }) %>
    </div>

    <div class="w-9/12 flex justify-center text-black text-center font-semibold ">
      <div class="w-[12.5%] flex justify-start  items-center px-4 text-left">
        <%= movement.code %>
      </div>
      <div class="w-[12.5%] flex justify-start  items-center px-4 text-left">
        <%= movement.date.strftime('%d-%m-%y') %>
      </div>
      <div class="w-[12.5%] flex justify-start  items-center px-4 text-left">
        <%= t(".#{movement.rate.zone_name}") %>
      </div>
      <div class="w-[12.5%] flex justify-start  items-center px-4 text-left">
        <%= movement.rate.customer_name if movement.rate.delivery? %>
        <%= movement.rate.delivery_rider_name if movement.rate_pickup? %>
      </div>
      <div class="w-[12.5%] flex flex-col justify-center items-center px-4 text-left">
        <div class="w-full flex flex-col ">
          <% movement.variants.each do |variant| %>
            <span class="w-full border border-slate-400 p-2">
              <%= link_to variant.product.name, variant.product, data: { turbo_frame: 'modal' } %>
            </span>
          <% end %>
        </div>
      </div>
      <div class="w-[12.5%] flex justify-center items-center px-4 text-right">
        <div class="w-full flex flex-col ">
          <% movement.product_movements.each do |pm| %>
            <span class="w-full border border-slate-400 p-2 <%= 'bg-red-200' if pm.return %> ">
              <%= pm.quantity %>
            </span>
          <% end %>
        </div>
      </div>
       <div class="w-[12.5%] flex justify-end  items-center px-4 text-right">
         <% if movement.rate.pickup? %>
          <div class="w-full flex flex-col ">
            <% movement.variants.each do |variant| %>
                <span class="w-full border border-slate-400 p-2">
                  <%= number_to_currency(variant.quantity, precision: 4)  %>
                </span>
            <% end %>
          </div>
         <% elsif movement.rate.delivery? %>
            <span class="w-full border border-slate-400 p-2">
              <%= number_to_currency movement.rate.customer.price_quantity, precision: 4 %>
            </span>
         <% end %>
      </div>
      <div class="w-[12.5%] flex justify-end  items-center px-4 text-right">
        <%= number_to_currency movement.amount, precision: 4 %>
      </div>
    </div>
    <div class="table-actions">
      <% if action_name != "show" && movement.id%>
        <% if movement.progress? %>
          <%= button_to inline_svg_tag(
                'icons/truck.svg',
                class: 'icon-button-default'
              ),
              update_status_movement_path(movement, kind: params[:kind]),
              method: :patch,
              class: 'wrapper-icon-button-default' %>
        <% else %>
          <div class="wrapper-icon-button-success">
            <%= inline_svg_tag('icons/check-circle.svg', class: 'icon-button-success')%>
          </div>
        <% end %>
        <% unless params[:kind].eql?('return')%>
          <%= link_to inline_svg_tag(
                'icons/arrow-uturn-down.svg',
                class: "icon-button-#{movement.returned? ? 'error' : 'default'}"
              ),
              mark_all_return_movement_path(id: movement),
              data: {
                turbo_frame: 'modal'
              },
              class: "wrapper-icon-button-#{movement.returned? ? 'error' : 'default'}" if movement.rate_delivery? %>
        <% end %>

        <%#= link_to inline_svg_tag(
              'icons/pencil-square.svg',
              class: 'icon-button-default'
            ),
            edit_movement_path(movement),
            data: {
              turbo_frame: 'modal'
            },
            class: 'wrapper-icon-button-default' %>
        
        <%= button_to movement,
                      method: :delete,
                      data: { 
                        controller: "swal",
                        swal_record_target: "movement_#{movement.id}",
                        swal_name_value: movement.code,
                        action: "click->swal#single"
                      },
                      class: 'wrapper-icon-button-default' do %>
          <%= inline_svg_tag(
                'icons/trash.svg',
                class: 'icon-button-default'
              ) %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
