<div id="<%= dom_id movement %>" class="table-row-li <%= 'hidden' unless movement.id %>">
  <%= turbo_frame_tag dom_id(movement), class: 'w-full flex justify-between' do %>
    <div class="w-1/12 flex justify-center items-center content-center px-4">
      <%= render CheckboxComponent.new(id: movement.id, name: 'movement_ids[]', options: { value: movement.id }) %>
    </div>
    <% rate = Rate.find(movement.rate_id) %>
    <div class="w-9/12 flex justify-center text-black text-center font-semibold ">
      <div class="w-[12.5%] flex justify-start  items-center px-4 text-left">
        <%= movement.code %>
      </div>
      <div class="w-[12.5%] flex justify-start  items-center px-4 text-left">
        <%= movement.date.strftime('%d-%m-%y') %>
      </div>
      <div class="w-[12.5%] flex justify-start  items-center px-4 text-left">
        <%= rate.kind %>
      </div>
      <div class="w-[12.5%] flex justify-start  items-center px-4 text-left">
        <%= Customer.find(rate.customer_id).name %>
      </div>
      <div class="w-[12.5%] flex flex-col justify-center items-center px-4 text-left">
        <div class="w-full flex flex-col ">
          <% movement.products.each do |product| %>
            <span class="w-full border border-slate-400 p-2">
              <%= product.code %>
            </span>
          <% end %>
        </div>
      </div>
      <div class="w-[12.5%] flex justify-center items-center px-4 text-right">
        <div class="w-full flex flex-col ">
          <% movement.product_movements.each do |product| %>
            <span class="w-full border border-slate-400 p-2">
              <%= product.quantity %>
            </span>
          <% end %>
        </div>
      </div>
       <div class="w-[12.5%] flex justify-end  items-center px-4 text-right">
        <%= number_to_currency movement.rate.price, precision: 4 %>
      </div>
      <div class="w-[12.5%] flex justify-end  items-center px-4 text-right">
        <%= number_to_currency movement.product_movements.sum(&:amount), precision: 4 %>
      </div>
    </div>
    <div class="table-actions">
      <% if action_name != "show" && movement.id%>
        <%= link_to inline_svg_tag(
                      'icons/pencil-square.svg',
                      class: 'icon-button-default'
                    ),
                    edit_movement_path(movement),
                    class: 'wrapper-icon-button-default' %>

        <%= button_to movement,
                      method: :delete,
                      data: { 
                        controller: "swal",
                        swal_record_target: "movement_#{movement.id}",
                        swal_name_value: movement.code,
                        action: "click->swal#single"
                      },
                      class: 'wrapper-icon-button-default' do %>
          <%= inline_svg_tag(
                'icons/trash.svg',
                class: 'icon-button-default'
              ) %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
