 
<div class="nested-fields">             
  <div class="flex justify-start items-center gap-8">
    <div class="w-full flex gap-4">
      <%= form.hidden_field :_destroy %>

      <div class="flex flex-col justify-center items-start gap-4">
        <%= form.label :product_id, class: 'text-lg text-gray-800'%>
        <%= form.select :product_id, options_for_select(Product.all.map { |product| [product.name, product.id] }), {}, class: 'w-full bg-transparent text-center' %> 
      </div>
      <div class="flex flex-col justify-center items-start gap-4">
        <%= form.label :quantity, class: 'text-lg text-gray-800'%>
        <%= form.number_field :quantity, placeholder: 100, max: 9000, required: true%>
      </div>

      <div class="flex justify-center items-end">
        <%= link_to "#{t '.remove_item'}", "#", class: 'inline-block px-6 py-2.5 bg-red-500 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-red-700 hover:shadow-lg focus:bg-red-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-800 active:shadow-lg transition duration-150 ease-in-out',data: {action: "click->nested-form#remove_association"}%>
      </div>
    </div>
  </div>
</div>