<div class="w-full flex flex-col items">
  <%= render 'movements/tabs' %>
</div>

  <%= turbo_frame_tag :movements_index do %>
    <%= form_with(model: @movements, url: multiple_delete_movements_path, html: { class: 'w-full flex flex-col gap-8 mt-8 px-10', turbo: false }) do |form| %>
      <%= form.hidden_field :kind, value: params[:kind] %>
      <section class="min-w-full flex flex-col justify-center items-center mx-auto mb-5 border rounded-lg" data-controller="checkbox-select-all">
        <!-- TABLE HEADER -->
        <header id="" class="w-full grid grid-cols-8 border rounded-t-lg border-black bg-black opacity-100 text-white">
          <div class="col-span-1 flex justify-center items-center content-center px-4 border-r">
            <%= render CheckboxComponent.new(
                  id: 'select-all',
                  name: 'movement_ids[]',
                  options: {
                    display_label: true,
                    value: '',
                    action: 'checkAll',
                    target: 'parent',
                  }
                ) %>
          </div>
          <div class="col-span-5 grid grid-cols-5 text-white text-center px-4">
            <div class="col-span-1 flex justify-start items-center">
              CÓDIGO
            </div>
            <div class="col-span-1 flex justify-start items-center">
              FECHA
            </div>
            <div class="col-span-1 flex justify-start items-center">
              TIPO
            </div>
            <div class="col-span-1 flex justify-start items-center">
              CLIENTE
            </div>
            <div class="col-span-1 flex justify-end items-center">
              TOTAL
            </div>
          </div>
          <div class="col-span-2 flex justify-end items-center border-l px-4 gap-8">
            <%= link_to inline_svg_tag(
                          'icons/icon_pdf.svg', 
                          class: 'icon-button-default'
                        ),
                        movements_path(params: {
                          kind: params[:kind],
                          range: params[:range],
                          name: params[:name],
                        },format: :pdf),
                        target: "_blank",
                        class: 'wrapper-icon-button-default' %>
            <%= button_to inline_svg_tag(
                            'icons/trash.svg',
                            class: 'icon-button-default'
                          ),
                          { action: :multiple_delete },
                          method: :delete,
                          data: {
                            'turbo-confirm': 'Are you sure?'
                          },
                          class: 'wrapper-icon-button-default'%>

            <%= link_to inline_svg_tag(
                          'icons/plus-circle.svg',
                          class: 'icon-button-default'
                        ),
                        new_movement_path(kind: params[:kind]),
                        data: {
                          turbo_frame: 'modal'
                        },
                        class: 'wrapper-icon-button-default' %>
            <%= link_to inline_svg_tag(
                          'icons/refresh.svg',
                          class: 'icon-button-default'
                        ),
                        movements_path(kind: params[:kind]),
                        data: { turbo: false },
                        class: 'wrapper-icon-button-default' %>
          </div>
        </header>
        <!-- TABLE HEADER -->
        <%= turbo_frame_tag Movement.new, class: 'w-full' %>
        <!--- TABLE ROWS -->
        <%= turbo_frame_tag :movements, class: 'w-full' do %>
          <% if @movements.present? %>
            <div id="search_results">
              <ul class="divide-y divide-slate-200" role="list">
                <%= render @movements %>
              </ul>
            </div> 
          <% else %>
            <div class="w-full p-4 text-lg text-center"><%= t('.no_data')%></div>
          <% end %>
        <% end %>
        <!-- TABLE ROWS -->
        <!-- TABLE FOOTER -->
        <footer id="" class="w-full grid grid-cols-8 border rounded-b-lg border-black bg-black opacity-100 text-white">
          <div class="col-span-1 "></div>
          <div id="" class="col-span-5 flex justify-center text-indigo-600 text-center font-semibold">
            <% 7.times do %>
                <%= content_tag(:div, content_tag(:p, ""), class: "w-full px-4") %>
            <% end %>
            <div class="w-full flex justify-end  items-center px-4">
              <span class="font-semibold text-white text-right invisible"> 
                <%# TODO: ISOLATE A FUNCTION THAT RETURNS TOTAL MOVEMENTS AMOUNT (delete invisible from span class)%>
                <%= number_to_currency 9999, precision: 3 %> 
              </span>
            </div>
          </div>
          <div class="col-span-2"></div>
        </footer>
        <!-- TABLE FOOTER -->
      </section>
      <div class="w-full flex gap-8 my-3 px-10">
        <%== pagy_nav(@pagy) if @pagy.present? %>
      </div>
    <% end %>
  <% end %>



