<div class="w-full flex flex-col items">
  <%= render 'movements/tabs' %>
</div>

<%= link_to "EXPORT PDF", export_pdf_movements_path %>

  <%= turbo_frame_tag :movements_index do %>
    <%= form_with(model: @movements, url: multiple_delete_movements_path, html: { class: 'w-full flex flex-col gap-8 mt-8 px-10', turbo: false }) do |form| %>
      <%= form.hidden_field :kind, value: params[:kind] %>
      <div class="min-w-full flex flex-col justify-center items-center mx-auto mb-5 border rounded-lg" data-controller="checkbox-select-all">
        <!-- TABLE HEADER -->
        <div id="" class="table-header">
          <div class="w-1/12 flex justify-center items-center content-center px-4 border-r">
            <%= render CheckboxComponent.new(
                  id: 'select-all',
                  name: 'movement_ids[]',
                  options: {
                    display_label: true,
                    value: '',
                    action: 'checkAll',
                    target: 'parent',
                  }
                ) %>
          </div>
          <div class="w-9/12 flex justify-center items-center text-white text-center">
            <div class="w-[12.5%] flex justify-start  items-center px-4">
              CÓDIGO
            </div>
            <div class="w-[12.5%] flex justify-start  items-center px-4">
              FECHA
            </div>
            <div class="w-[12.5%] flex justify-start  items-center px-4">
              TIPO
            </div>
            <div class="w-[12.5%] flex justify-start  items-center px-4">
              CLIENTE
            </div>
            <div class="w-[12.5%] flex justify-end  items-center px-4">
              PRODUCTO
            </div>
            <div class="w-[12.5%] flex justify-end  items-center px-4">
              CANTIDAD
            </div>
            <div class="w-[12.5%] flex justify-end  items-center px-4">
              TARIFA
            </div>
            <div class="w-[12.5%] flex justify-end  items-center px-4">
              TOTAL
            </div>
          </div>
          <div class="table-actions">
            <%= button_to inline_svg_tag(
                            'icons/trash.svg',
                            class: 'icon-button-default'
                          ),
                          { action: :multiple_delete },
                          method: :delete,
                          data: {
                            'turbo-confirm': 'Are you sure?'
                          },
                          class: 'wrapper-icon-button-default'%>

            <%= link_to inline_svg_tag(
                          'icons/plus-circle.svg',
                          class: 'icon-button-default'
                        ),
                        new_movement_path(kind: params[:kind]),
                        data: {
                          turbo_frame: 'modal'
                        },
                        class: 'wrapper-icon-button-default' %>
            <%= link_to inline_svg_tag(
                          'icons/refresh.svg',
                          class: 'icon-button-default'
                        ),
                        movements_path(kind: params[:kind]),
                        class: 'wrapper-icon-button-default' %>
          </div>
        </div>
        <!-- TABLE HEADER -->
        <%= turbo_frame_tag Movement.new, class: 'w-full' %>
        <!--- TABLE ROWS -->
        <% if @movements.present? %>
          <%= turbo_frame_tag :movements, class:'w-full' do %>
            <div id="search_results">
              <ul class="divide-y divide-slate-200" role="list">
                <%= render @movements if params[:name].blank?%>
              </ul>
            </div> 
          <% end %>
        <% else %>
          <span class="p-4">no data provided</span>          
        <% end %>
        <!-- TABLE ROWS -->
        <!-- TABLE FOOTER -->
        <div id="" class="table-footer">
          <div class="w-1/12"></div>
          <div id="" class="w-9/12 flex justify-center text-indigo-600 text-center font-semibold">
            <% 7.times do %>
                <%= content_tag(:div, content_tag(:p, ""), class: "w-full px-4") %>
            <% end %>
            <div class="w-full flex justify-end  items-center px-4">
              <span class="font-semibold text-white text-right invisible"> 
                <%# TODO: ISOLATE A FUNCTION THAT RETURNS TOTAL MOVEMENTS AMOUNT (delete invisible from span class)%>
                <%= number_to_currency 9999, precision: 3 %> 
              </span>
            </div>
          </div>
          <div class="w-2/12"></div>
        </div>
        <!-- TABLE FOOTER -->
      </div>
      <div class="w-full flex gap-8 my-3 px-10">
        <%== pagy_nav(@pagy) if @pagy.present? %>
      </div>
    <% end %>
  <% end %>



