<nav class="w-full h-16 flex justify-between bg-slate-50">
  <div class="w-2/6 flex justify-start items-center content-center">
    <button class="w-10 ml-5 group focus:outline-none" data-action="click->toogle#hide">
      <div class="rounded-xl bg-black h-1 w-8 my-1 group-hover:relative group-hover:top-2 group-hover:rotate-45 duration-500"></div>
      <div class="rounded-xl bg-black h-1 w-8 my-1 group-hover:bg-transparent group-hover:duration-150"></div>
      <div class="rounded-xl bg-black h-1 w-8 my-1 group-hover:relative group-hover:bottom-2 group-hover:-rotate-45 duration-500"></div>
    </button>
  </div>

  <div class="w-2/6"></div>
  <div class="w-2/6 flex justify-end items-center">

    <% if user_signed_in? %>
      <span class="border border-slate-300 rounded-lg px-4 py-2 mr-4"><%= link_to "Export PDF", export_pdf_movement_path(Movement.last) %></span>
      <span class="border border-slate-300 rounded-lg px-4 py-2 mr-4"><%= current_user.role %></span>
      <%= link_to destroy_user_session_path, class: 'border border-indigo-300 rounded rounden-xl px-3 py-2 mx-4' do %>
        <%= inline_svg_tag('icons/logout.svg', class: 'w-8 h-8 text-indigo-300') %>
      <% end %>
    <% else %>
      <%= link_to new_user_session_path, class: 'border border-indigo-300 rounded rounden-xl px-3 py-2 mx-4' do %>
        <%= inline_svg_tag('icons/login.svg', class: 'w-8 h-8 text-indigo-300') %>
      <% end %>
    <% end %>
    
  </div>
</nav>
