<div class="<%= wrap_style %>">
  
  <% if params[:kind].present? %>
    <input type="hidden" name= 'kind' value= <%= params[:kind] %> />
  <% end %>

  <% if show %>
    <label class="<%= label_style %>" for="<%= id %>">
      <%= label %>
    </label>
  <% end %>
  
  <input id="<%= id %>"
          name="<%= name %>"
          type="checkbox"
          value="<%= value %>"
          data-checkbox-select-all-target="<%= target %>"
          data-action="click->checkbox-select-all#<%= action %>"
          class="<%= input_style %>">
</div>
