<div class="flex items-center justify-center cursor-pointer">
  <input  id="<%= @item.code %>"
          type="checkbox"
          name="<%= "#{@item.class.to_s.downcase}_ids[]" %>"
          value="<%= @item.code %>"
          data-checkbox-select-all-target="child"
          data-action="click->checkbox-select-all#checkParent"
          class="w-6 h-6 text-green-500 bg-white border-green-300 rounded focus:ring-green-500 focus:ring-2 cursor-pointer">
  <label for="<%= @item.code %>" class="ml-2 text-lg font-medium text-gray-400 cursor-pointer"><%= @item.code %></label>
</div>