<%= form_with url: path,
              method: :get,
              local: true,
              class: 'w-full relative focus:outline-none focus:shadow-outline' do |form| %>

  <%= form.hidden_field :kind, value: kind if kind.present? %>
  <%= form.hidden_field :name, value: name if name.present? %>
  
  <div class="relative">
    <%= form.text_field :range,
                        value: range,
                        data: {
                          controller: 'flatpickr',
                          flatpickr_target: 'search'
                        },
                        class: 'w-full bg-white shadow rounded border-0 p-3' %>

    <div class="absolute top-1/4 right-2" data-debounce-target="icon">
      <%= inline_svg_tag('icons/calendar.svg', class: 'w-6 h-6 stroke-gray-600')%>
    </div>
  </div>

  <%= form.hidden_field :product_zero, value: zero if zero.present? %>
  <%= form.hidden_field :product_kind, value: product_kind if product_kind.present? %>
<% end %>