<%= link_to path,
            data: {
              'tab-target': 'option',
              'tab-option': item.to_s,
              action: 'click->tab#storage',
              turbo_frame: turbo,
              turbo: false
            },
            class: link_style.to_s,
            id: item.to_s do %>
  <div class="flex justify-center items-center gap-4">
    <% if notification.present? %>
      <span id="<%= @id_notification %>" class="max-w-12 w-6 max-h-6 p-4 flex justify-center items-center rounded-full bg-red-300 text-sm text-white"><%= notification %></span>
    <% end %>
    <% if text.present? %>
      <span class="font-semibold mr-3"> <%= text %></span>
    <% end %>
    <%= inline_svg_tag("icons/#{icon}", class: 'w-8 h-8 hidden md:block') if icon.present? %>
  </div>
<% end %>
