<%= link_to path, 
            data: {
              'tab-target': 'option',
              'tab-option': "#{item}",
              action: 'click->tab#storage',
              turbo_frame:  turbo
            },
            class: "#{link_style}",
            id: "#{item}" do %>
  <div class="flex justify-center">
    <% if text.present? %>
      <span class="font-semibold mr-3"> <%= text %></span>
    <% end %>
    <% if notification.present? %>
      <span class="w-6 h-6 flex justify-center items-center mx-3 rounded-full bg-red-300 text-sm text-white"><%= notification %></span>
    <% end %>
    <%= inline_svg_tag("icons/#{icon}", class: 'w-8 h-8 mx-5 hidden md:block') if icon.present? %>
  </div>
<% end %>

<div class="w-full h-48 bg-gray-200 opacity-60 p-6">
  <div class="w-full md:w-1/3 px-4 my-2 flex flex-col">
    <h3 class="title font-semibold font-sm md:font-lg text-left">Busca entre fechas</h3>
    <div class="flex">
      <%= render SearcherComponent.new(
            path: customers_path, 
            options: {
              params: 'name'
            }) %>
      <%= render SearcherComponent.new(
            path: customers_path, 
            options: {
              params: 'name'
            }) %>
    </div>
  </div>
  <div class="w-full md:w-1/3 px-4 my-2 flex flex-col">
    <h3 class="title font-semibold font-sm md:font-lg text-left">Busca Cosa</h3>
    <div class="flex">
      <%= render SearcherComponent.new(
            path: search_customers_path, 
            options: {
              params: 'name'
            }) %>
    </div>
  </div>
</div>
<div id="search_results" class="container px-4 mx-auto"></div>
