<section class="w-full flex flex-row justify-center">
  <div class="overflow-x-auto sm:-mx-6 lg:-mx-8 w-full">
    <div class="inline-block min-w-full">
      <div class="overflow-x-auto"  data-controller="checkbox-select-all">
        <% if resources.blank? %>
          <div class="w-2/3 mx-auto px-12 py-8 flex flex-col justify-center items-center gap-12">
            <h4 class="text-3xl text-corporation">No data</h4>
            <%= inline_svg_tag('content/no_data.svg', class: 'w-full') %>
          </div>
        <% else %>
          <ul>
            <li class="w-full grid grid-cols-12 border-b text-white bg-black">
              <% if select_all %>
                <div class="col-span-1 px-4 flex justify-center items-center">
                  <%= render CheckboxComponent.new(
                    id: 'select-all',
                    name: "#{model_name}_ids[]",
                    options: {
                      display_label: true,
                      value: '',
                      action: 'checkAll',
                      target: 'parent',
                    }
                  ) %>
                </div>
              <% end %>
              <header class="w-full col-span-<%= select_all ? '11' : '12' %> grid grid-cols-<%= @cols %> justify-between items-center px-6 py-4">
                <% headers.each do |header| %>
                  <div class="text-xl font-medium text-white dark:text-gray-200 flex-1 w-full">
                    <%= header %>
                  </div>
                <% end %>
                <div class="text-xl font-medium text-white dark:text-gray-200 flex-1 flex justify-end">
                  <%=t(".actions") %>
                </div>
              </header>
            </li>
          </ul>

          <%= turbo_frame_tag "new_#{model_name}", class: 'w-full flex justify-center' %>
          <%= turbo_frame_tag model_name.pluralize do %>
            <ul class="min-w-full divide-y divide-gray-200 <%= style %> border">
              <% rows.each do |row| %>
                <%= turbo_frame_tag row.html_id, class:"w-full grid grid-cols-12" do %>
                  <% if select_all %>
                    <div class="col-span-1 px-4 flex justify-center items-center">
                      <%= render CheckboxComponent.new(
                          id: row.resource.id,
                          name: "#{model_name}_ids[]",
                          options: { value: [params[:enterprise_id], row.resource_value] }
                      ) %>
                    </div>
                  <% end %>
                  <div class="w-full col-span-<%= select_all ? '11' : '12' %> grid grid-cols-<%= @cols %> justify-between items-center px-4 py-1">
                    <%= row %>
                  </div>
                <% end %>
              <% end %>
            </ul>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>
