<nav class="w-1/2 flex justify-start mt-3" data-controller="tab">
  <%= render TabComponent.new(
              item: 'one',   
              path: root_path, 
              options: { 
                text: 'One',
                link_style: 'tab-component',
              }
            ) %>
  <%= render TabComponent.new(
              item: 'two',
              path: dashboard_path, 
              options: { 
                text: 'Two',
                notification: '0',
                link_style: 'tab-component'
              }
            ) %>
  <%= render TabComponent.new(
              item: 'three',
              path: root_path, 
              options: {
                icon: 'truck.svg',
                text: 'Three',
                notification: '3',
                link_style: 'tab-component'
              }
            ) %>
</nav>
<div class="w-full h-48 bg-gray-200 p-6">
  <div class="w-1/3 px-4 my-2 flex flex-col">
    <h3 class="title font-semibold font-lg text-left">Busca entre fechas</h3>
    <div class="flex">
      <%= render SearcherComponent.new(path: dashboard_path, params: 'name', button: 'Busca') %>
      <%= render SearcherComponent.new(path: dashboard_path, params: 'name', button: 'Busca') %>
    </div>
  </div>
  <div class="w-1/3 px-4 my-2">
    <h3 class="title font-semibold font-lg text-left">Busca Cosa</h3>
    <div class="flex">
      <%= render SearcherComponent.new(path: dashboard_path, params: 'name', button: 'Busca') %>
    </div>
  </div>
</div>
