<div class="w-full px-8 flex flex-col justify-center items-center">
  <div class="flex justify-between items-center my-8">
    <h1 class="font-bold text-4xl"><%= t('.main_title') %></h1>
  </div>
  <div class="w-full flex justify-between gap-8 my-3 px-10">
    <%= link_to new_issue_tracker_path, data: { turbo_frame: 'modal' }, class: 'flex justify-start items-center w-auto rounded-lg py-3 ml-2 px-5 bg-black opacity-90 text-white hover:opacity-100 inline-block font-semibold m-2 gap-4' do %>
      <%= inline_svg_tag('icons/plus-circle.svg', class: 'w-8 h-8') %>
      <span class="text-lg"><%= t('.new_issue')%></span>
    <% end %>
    
  </div>
  <%= turbo_frame_tag :issues, class:'w-full' do %>
    <ul class="divide-y divide-slate-200" role="list">
      <li class="table-header py-2 px-4">
        <div class="w-3/12 flex justify-center items-center content-center px-4"><%= t('.title') %></div>
        <div class="w-3/12 flex justify-center items-center content-center px-4"><%= t('.description') %></div>
        <div class="w-3/12 flex justify-center items-center content-center px-4"><%= t('.images') %></div>
        <div class="w-2/12 flex justify-center items-center content-center px-4 lg:whitespace-nowrap"><%= t('.created_at') %></div>
        <div class="w-1/12 flex justify-center items-center content-center px-4"><%= t('.updated_at') %></div>
      </li>
      <%= render @issues %>
    </ul>
  <% end %>
</div>