
<%= form_with(model: customer, class: 'w-full flex justify-between') do |form| %>
  <div class="w-1/12 flex justify-center items-center content-center"></div>
  <div class="w-9/12 grid grid-cols-2 border-x border-slate gap-8 px-4">
      <%= form.text_field :name,
                          placeholder: 'Introduce nombre de cliente',
                          class:'flex-1 mx-auto block py-2.5 px-0 w-full text-lg text-black bg-transparent border-0 border-b-2 border-slate-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer'%>

      <%= form.fields_for :price, customer.price do |ff| %>
        <%= ff.number_field :quantity,
                            placeholder: number_to_currency(0, precision: 4),
                            step: :any,
                            class:'flex-1 mx-auto block py-2.5 px-0 w-full text-lg text-black bg-transparent border-0 border-b-2 border-slate-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer'%>
      <% end %>

    <% if customer.errors.any? %>
      <div id="error_explanation" class="w-full bg-red-50 text-red-500 border-b-8 border-b-red-600 px-3 py-2 font-medium rounded-lg mt-3">
        <h2><%= pluralize(customer.errors.count, 'error') %> prohibited this customer from being saved:</h2>

        <ul>
          <% customer.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <div class="w-2/12 flex justify-end items-center gap-5 py-2">
    <%= form.submit '✔️', class: 'wrapper-icon-button-default' %>
    <%= link_to :back, class: 'wrapper-icon-button-default' do %>
      <%= inline_svg_tag('icons/x-circle.svg', class: 'icon-button-default') %>
    <% end %>
  </div>
<% end %>

