<li id="<%= dom_id zone %>" class="table-row-li">
  <%= turbo_frame_tag dom_id(zone), class: 'w-full flex justify-between' do %>
    <div class="w-1/12 flex justify-center items-center content-center px-4">
      <%= render CheckboxComponent.new(id: zone.id, name: 'zone_ids[]', options: { value: zone.id }) %>
    </div>
    <div class="w-9/12 flex justify-center items-center text-black text-center font-semibold border-x border-slate-100 py-2 px-4"> <%= zone.name %> </div>
    <div class="table-actions">
      <% if action_name != "show" %>
        <%= link_to inline_svg_tag('icons/pencil-square.svg', class: 'icon-button-default'), edit_zone_path(zone), class: 'wrapper-icon-button-default' %>
        <%= button_to zone, method: :delete,
                                data: { 
                                  controller: "swal",
                                  swal_name_value: zone.name,
                                  action: "click->swal#single"
                                },
                                class: 'wrapper-icon-button-default' do %>
          <%= inline_svg_tag('icons/trash.svg', class: 'icon-button-default') %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</li>
