<div id="<%= dom_id product %>" class="w-full py-2 px-4">
  <% border = product.errors.any? ? 'border-t-red-600' : 'border-t-indigo-400' %>
  <%= form_with(model: product, class: '') do |form| %>
    <% if product.errors.any? %>
      <div id="error_explanation" class="w-full bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
        <h2><%= pluralize(product.errors.count, 'error') %> prohibited this customer from being saved:</h2>

        <ul>
          <% product.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <div class="w-full lg:flex rounded mx-auto">
      <div class="w-full rounded overflow-hidden shadow-lg m-10 relative flex flex-col">
      <div class="w-full flex justify-center items-center bg-slate-200">
        <label class="w-64 h-64 flex flex-col justify-center items-center shadow-lg tracking-wide uppercase cursor-pointer">
          <%= inline_svg_tag('icons/image.svg', class:'w-64 h-64 text-slate-500')%>
          <span class="mt-2 text-lg text-slate-500 ">Añade una imagen</span>
          <%= form.file_field :image, class: 'hidden' %>
        </label>
      </div>
        
        <div class="w-full flex flex-col px-6 py-4 h-full gap-8 border-y border-y-slate-600">
          <div class="w-full flex items-center justify-between">
            <div class="w-full flex-col justify-center items-start">
              <div class="w-full mr-4">Nombre: </div>
              <div class='w-full text-left  font-semibold'>
                <%= form.text_field :name %>
              </div>
            </div>
            
            <div class="w-full flex-col justify-center items-start">
              <div class="w-full mr-4">Código: </div>
              <div class='w-full text-left  font-semibold'>
                <%= form.text_field :code %>
              </div>
            </div>
          </div>
          <div class="w-full flex gap-8">
            <div class="w-full flex-col justify-center items-start">
              <div class="w-full mr-4">Tipo: </div>
              <div class='w-full text-left  font-semibold'><%= form.select :kind, options_for_select(['pallet', 'box']), {}, { class: '' } %></div>
            </div>
            <div class="w-full flex-col justify-center items-start">
              <div class="w-full mr-4">Precio: </div>
              <div class='w-full text-left  font-semibold'>
                <%= form.number_field :price, placeholder: 'ex: 0,123', min: 1, class: 'text-center text-indigo-600 font-semibold'%>
              </div>
            </div>
            <div class="w-full flex-col justify-center items-start">
              <div class="w-full mr-4">Stock: </div>
              <div class='w-full text-center  font-semibold'>
                <%= form.number_field :stock, placeholder: 'ex: 382', min: 1, class: 'text-center text-indigo-600 font-semibold'%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= form.submit 'Añadir', class: 'button-success'%>
  <% end %>
</div>
 