<%= turbo_frame_tag dom_id(product), class: 'w-full' do %>
  <div id="<%= dom_id product %>" class="w-full py-2 px-4">
    <div class="flex bg-white border-t-8 border-t-indigo-400 rounded-lg shadow-lg px-4 py-8">
      <div class="w-1/12 flex items-center">
          <%= image_tag(product.image.variant(resize_to_limit: [80, 80]), class: 'w-24 h-24 flex justify-center items-center content-center rounded-full border border-slate-400 mx-4 p-2') if product.image.attached? %>
      </div>
      <div class="w-10/12 flex flex-col items-center gap-8 mr-4">
        <div class="w-full flex items-center justify-between">
          <span class="w-full text-xl text-center text-indigo-800 font-semibold">Name: <%= product.name %></span>
          <span class="flex text-sm font-medium hover:text text-center text-indigo-600border-2 border-indigo-600 rounded-xl bg-indigo-300 py-3 px-6"><%= product.code %></span>
        </div>
        <div class="w-full flex gap-8">
          <div class="w-full mx-4">
            <span class="text-indigo-600 mr-4">Tipo: </span>
            <span class='text-center text-indigo-600 font-semibold'><%= product.kind %></span>
          </div>
          <div class="w-full">
            <span class="text-indigo-600 mr-4">Precio: </span>
            <span class='text-center text-indigo-600 font-semibold'><%= number_to_currency product.price, precision: 3 %></span>
          </div>
          <div class="w-full">
            <span class="text-indigo-600 mr-4">Stock: </span>
            <span class='text-center text-indigo-600 font-semibold'><%= product.stock %></span>
          </div>
        </div>
      </div>
      <div class="w-1/12 flex flex-col border-l border-indigo-200">
        <%#= link_to 'Show', product_path(product), class: 'w-full text-lg text-right text-indigo-600 hover:bg-indigo-300 px-4 py-2' %>
        <%= link_to 'Edit', edit_product_path(product), class: 'w-full text-lg text-right text-indigo-600 hover:bg-indigo-300 px-4 py-2' %>
        <%= button_to product, method: :delete,
                                data: { 
                                  controller: "swal",
                                  swal_name_value: product.code,
                                  action: "click->swal#single"
                                },
                                class: 'rounded-lg py-3 ml-2 px-5 bg-indigo-100 hover:bg-amber-300 inline-block font-medium m-2' do %>
          <%= inline_svg_tag('icons/trash.svg', class: 'w-4 h-4 text-indigo-600') %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
