<div class="w-full px-8 flex flex-col justify-center items-center">
  <div class="flex justify-between items-center my-8">
    <h1 class="font-bold text-4xl">Products</h1>
  </div>
  <div class="w-full flex justify-between gap-8 my-3 px-10">
    <%= link_to new_product_path, 
                data: { turbo_frame: 'modal' }, 
                class: 'button-success flex items-center gap-4 text-lg' do %>
      <%= inline_svg_tag('icons/plus-circle.svg', class: 'w-8 h-8 text-white') %>
      <span class="text-white"><%= t('.new_product') %></span>
    <% end %>
  </div>
  <%= turbo_frame_tag Product.new, class: 'w-full' %>
  <%= turbo_frame_tag :products, class:'w-full flex flex-col justify-center items-center' do %>
    <%== pagy_nav(@pagy)%>
    <div class="w-full flex flex-wrap">
      <%= render @products %>
    </div>
  <% end %>
</div>
