<li id="<%= dom_id rate %>" class="table-row-li">
  <div class="w-full flex justify-between">
    <div class="w-2/12 flex justify-center items-center content-center px-4">
      <%= render CheckboxComponent.new(id: rate.id, name: 'rate_ids[]', options: { value: rate.id }) %>
    </div>
    <%= form_with(model: rate, class: 'contents') do |form| %>
      <div class="w-9/12 text-black text-center font-semibold border-x border-slate-100 py-2 px-4 relative z-0 group"> 
        <div class="w-full flex justify-evenly gap-8">
          <%= form.text_field :name, class: 'w-1/4 mx-auto block py-2.5 px-0 w-full text-lg text-slate-700 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer cursor-not-allowed hidden' %>
          <%= form.select :customer_id, Customer.all.map { |c| [c.name, c.id] }, { include_blank: 'Selecciona cliente' }, class: 'w-2/3 mx-auto block py-2.5 px-0 w-full text-lg text-slate-700 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer' %>
        
          <%= form.select :zone_id, Zone.all.map { |z| [z.name, z.id] }, { include_blank: 'Selecciona zona' }, class: 'w-2/3 mx-auto block py-2.5 px-0 w-full text-lg text-slate-700 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer' %>

          <div class="w-1/4 mx-auto block py-2.5 px-0 text-lg text-slate-700 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer">
              <% price = Price.find_by(priciable_id: form.object.id)&.quantity %>
              <%= form.number_field :price,
                                    placeholder: number_to_currency(price.presence || 0, precision: 4),
                                    step: :any,
                                    required: true,
                                    class:'w-2/3 mx-auto block py-2.5 px-0 w-full text-lg text-black bg-transparent border-0 border-b-2 border-slate-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer'%>
          </div>

          <%= form.hidden_field :kind, value: rate.kind.presence || params[:kind],  class: 'w-1/4 mx-auto block py-2.5 px-0 w-full text-lg text-slate-700 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer cursor-not-allowed', readonly: true %>
          <%#= form.select :kind, [params[:kind], selected_kind], { include_blank: 'Selecciona tipo' }, selected: selected_kind, class: 'w-1/4 mx-auto block py-2.5 px-0 w-full text-lg text-slate-700 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer readonly', disabled: true %>



          <%#= form.select :kind, Rate.kinds.keys.map { |k| [k, k] }, { include_blank: 'Selecciona tipo' }, class: 'w-1/4 mx-auto block py-2.5 px-0 w-full text-lg text-slate-700 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer readonly', disabled: true %>

        </div>


        <% if rate.errors.any? %>
          <div id="error_explanation" class="bg-red-50 text-red-500 border-b-8 border-b-red-600 px-3 py-2 font-medium rounded-lg mt-3">
            <h2><%= pluralize(rate.errors.count, 'error') %> prohibited this rate from being saved:</h2>

            <ul>
              <% rate.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
      <div class="table-actions">
        <%= form.submit '✔️', class: 'wrapper-icon-button-default text-black' %>
        <%= link_to :back, class: 'wrapper-icon-button-default' do %>
          <%= inline_svg_tag('icons/x-circle.svg', class: 'icon-button-default') %>
        <% end %>
      </div>
    <% end %>
  </div>
</li>
