<div id="<%= dom_id rate %>" class="table-row-li">
  <%= turbo_frame_tag dom_id(rate), class: 'w-full flex justify-between' do %>
    <div class="w-1/12 flex justify-center items-center content-center px-4">
      <%= render CheckboxComponent.new(id: rate.id, name: 'rate_ids[]', options: { value: rate.id }) %>
    </div>
    <div class="w-9/12 flex justify-center items-center text-center font-semibold border-x border-slate-100 py-2 px-4">
      <div class="flex flex-1 items-center px-2 justify-start text-left">
        <%= link_to rate.customer_name, customer_path(rate.customer_id) %>
      </div>
      <div class="flex flex-1 items-center px-4">
        <%= link_to rate.zone_name, zone_path(rate.zone_id) %>
      </div>
      <div class="flex flex-1 items-center px-4">
        <% if rate.pickup? %>
          <%= rate.customer.price.quantity %>
        <% elsif rate.delivery? %>
          <%= rate.zone.price.quantity %>
        <% end %>
      </div>
      <div class="flex flex-1 items-center px-4">
        <%= t(".#{rate.kind}") %>
      </div>
    </div>
    <div class="table-actions">
      <% if action_name != "show" %>
        <%= link_to inline_svg_tag('icons/pencil-square.svg', class: 'icon-button-default'), edit_rate_path(rate), class: 'wrapper-icon-button-default' %>
        <%= button_to rate, method: :delete,
                                data: { 
                                  controller: "swal",
                                  swal_name_value: "#{rate.customer.name} - #{rate.zone.name}: #{rate.kind}",
                                  action: "click->swal#single"
                                },
                                class: 'wrapper-icon-button-default' do %>
          <%= inline_svg_tag('icons/trash.svg', class: 'icon-button-default') %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
