<div id="<%= dom_id rate %>" class="table-row-li">
  <%= turbo_frame_tag dom_id(rate), class: 'w-full flex justify-between' do %>
    <div class="w-2/12 flex flex-col justify-center items-center content-center px-4">
      <div class="w-full invisible">seleccionar todos</div>
      <%= render CheckboxComponent.new(id: rate.id, name: 'rate_ids[]', options: { value: rate.id }) %>
    </div>
    <div class="w-full justify-between items-center text-center font-semibold border-x border-slate-100 py-2 px-4 grid grid-cols-5 gap-4">
      <div class="w-full flex justify-start items-center px-2 text-left whitespace-nowrap truncate" >
        <%= rate.name %>
      </div>
      <div class="w-full flex justify-start items-center px-2 text-left whitespace-nowrap truncate">
        <%= link_to rate.customer_name, customer_path(rate.customer_id) if rate.delivery? %>
        <%= link_to rate.delivery_rider_name, delivery_rider_path(rate.delivery_rider_id) if rate.pickup? %>
      </div>
      <div class="hidden w-full lg:flex justify-start items-center px-4 text-left truncate">
        <%= link_to rate.zone_name, zone_path(rate.zone_id) %>
      </div>
      <div class="w-full flex justify-end items-center px-4 text-right whitespace-nowrap truncate">
        <% if rate.pickup? %>
          <%= number_to_currency rate&.delivery_rider.price.quantity, precision: 4 %>
        <% elsif rate.delivery? %>
          <%= number_to_currency rate.quantity, precision: 4 %>
        <% end %>
      </div>
    </div>
    <div class="w-3/12 table-actions">
    <%= button_to inline_svg_tag(
                  "icons/#{rate.enable? ? 'check-circle' : 'lock-cancel'}.svg",
                  class: "icon-button-#{rate.enable? ? 'success' : 'error'}"
                ),
                enable_rate_path(rate),
                method: :patch,
                class: "wrapper-icon-button-#{rate.enable? ? 'success' : 'error'}" %>
      <% if action_name != "show" %>
        <%= link_to inline_svg_tag('icons/pencil-square.svg', class: 'icon-button-default'), edit_rate_path(rate), class: 'wrapper-icon-button-default' %>

        <%= button_to rate, method: :delete,
                                data: { 
                                  controller: "swal",
                                  swal_name_value: "#{rate.name}",
                                  action: "click->swal#single"
                                },
                                class: 'wrapper-icon-button-default' do %>
          <%= inline_svg_tag('icons/trash.svg', class: 'icon-button-default') %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
