  <div class="flex justify-between items-center my-8">
    <h1 class="font-bold text-4xl">Tarifas</h1>
  </div>
  <div>Total: <%= @rates.count %></div>
  <%= turbo_frame_tag :rates_index do %>
    <%= form_with(model: @rates, url: multiple_delete_rates_path, html: { class: 'w-full flex flex-col gap-8 mt-8 px-10', turbo: false }) do |form| %>
      <div class="min-w-full flex flex-col justify-center items-center mx-auto mb-5" data-controller="checkbox-select-all">
        <div id="" class="table-header">
          <div class="w-1/12 flex justify-center items-center content-center px-4 border-r">
            <%= render CheckboxComponent.new(
                  id: 'select-all',
                  name: 'rate_ids[]',
                  options: {
                    display_label: true,
                    value: '',
                    action: 'checkAll',
                    target: 'parent'
                  }
                ) %>
          </div>
          <div class="w-9/12 flex">
            <div class="flex flex-1 items-center px-4"><%= t('.customer')%></div>
            <div class="flex flex-1 items-center px-4"><%= t('.zone')%></div>
            <div class="flex flex-1 items-center px-4"><%= t('.rate')%></div>
            <div class="flex flex-1 items-center px-4"><%= t('.kind')%></div>
          </div>
          <div class="table-actions">
          <%= button_to inline_svg_tag('icons/trash.svg', class: 'icon-button-default'),
                        { action: :multiple_delete },
                        method: :delete,
                        data: { 'turbo-confirm': 'Are you sure?' },
                        class: 'wrapper-icon-button-default'%>
          <%= link_to inline_svg_tag('icons/plus-circle.svg', class: 'icon-button-default'), 
                      new_rate_path, 
                      data: { turbo_frame: dom_id(Rate.new) }, 
                      class: 'wrapper-icon-button-default' %>
          </div>
        </div>
        <%= turbo_frame_tag Rate.new, class: 'w-full' %>
        <%= turbo_frame_tag :rates, class:'w-full' do %>
          <ul class="divide-y divide-slate-200" role="list">
            <%= render @rates %>
          </ul>
        <% end %>
      </div>
      <div class="w-full flex gap-8 my-3 px-10">
        <%== pagy_nav(@pagy) %>
      </div>
    <% end %>
  <% end %>
</div>
