
<div class="w-full flex flex-col justify-start items-center px-6 mt-0 bg-zinc-600 min-h-[calc(100vh-40px)] delay-500 duration-500">
  <h1 class="text-8xl font-medium text-red-700 text-center my-32 opacity-30">ORPAL</h1>
  <div class="w-full lg:w-1/2 p-5 bg-white border rounded-xl shadow-zinc-800 shadow-lg ">
    <%= form_for(User, as: @user, url: session_path(@user)) do |f| %>
      <div class="px-8 pt-6 pb-8 mb-4">
        <div class="mb-4">
          <%= f.label :email, class: "block text-grey-darker text-sm font-bold mb-2" %>
          <%= f.text_field :email, class: "shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline" %>
        </div>

        <div class="mb-6">
          <%= f.label :password, class: "block text-grey-darker text-sm font-bold mb-2" %>
          <%= f.password_field :password, class: "shadow appearance-none border border-red rounded w-full py-2 px-3 text-grey-darker mb-3 leading-tight focus:outline-none focus:shadow-outline" %>
          <%= f.label :remember_me, class: "block text-grey-darker text-sm font-bold mb-2" %>
          <%= f.check_box :remember_me %>
        </div>
      </div>
      <div class='flex flex-wrap mx-3 mb-6'>
        <div class='w-full flex px-3 gap-8'>
          <%= f.submit 'Sign In', class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline cursor-pointer' %>
          <%= link_to 'Back', root_path, class: 'bg-slate-500 hover:bg-slate-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline cursor-pointer' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
